@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1, h2, h3, h4, a, p, div {
  font-family: 'Inter', sans-serif;
  color: #343A40;
}
